*.swp
*.swo
CMakeCache.txt
CTestTestfile.cmake
CMakeFiles/
Makefile
bin/
cmake_install.cmake
.ninja*
*.ninja
compile_commands.json
*.log
*.txt
doc/
Doxyfile
tests/test_data/
tmp/
*.o
*.so
*.Rcheck
symbols.rds
.Rhistory
*.tar.gz
*.pdf
*.html
*_cache/
*_files/
.Rproj.user
inst/doc
.build.timestamp
man/dot-*
